<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robertopc.appagendatea">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:exported="true"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDefinitivo">
        <activity
            android:name=".ActivityAcceso"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityRegistrarTutor"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityPrincipal"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityZonaTutor"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityAgenda"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityAyuda"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityZonaTutorGaleria"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityZonaTutorAgenda"
            android:screenOrientation="landscape"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ActivityEditarAgenda"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>